.container-header {
  display: flex;
  align-items: center;
}
.header {
  border-bottom: 1px solid #ececec;
}

.container-header__logo {
  color: $logo-black;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  & > span {
    color: $accent-color;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
  }
}
// site-nav

.site-nav__link {
  position: relative;
  color: var(--primary-text-title);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav__item,
.contacts__item {
  margin-right: 50px;
}

.site-nav__item:last-child,
.contacts__item:last-child {
  margin-right: 0;
}

.site-nav__link--current {
  color: $accent-color;

  &::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
  }
}
// contacts
.contacts {
  display: flex;
  margin-left: auto;
}

.contacts__link {
  padding: 32px 0;
  color: $title-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.contacts__icon {
  fill: $title-text-color;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .contacts__link:hover &,
  .contacts__link:focus & {
    fill: $accent-color;
  }
}
