.section-block {
  @media (max-width: 1199px) {
    display: none;
  }
}

.product {
  display: flex;

  &__subtitle {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(47, 48, 58, 0.8);
    min-height: 70px;
    top: 224px;
    padding-top: 27px;

    color: $footer-text-primary;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;
  }
}

.product__item {
  margin-right: 30px;
  position: relative;

  &:last-child {
    margin-right: 0;
  }
}
