$accent-color: #2196f3;
$title-text-color: #757575;
$primary-text-title: #212121;
$logo-black: #000000;
$footer-text-primary: #ffffff;
$fotter-text-title: rgba(255, 255, 255, 0.6);
$secondary-background: #2f303a;
$primary-background: #ffffff;
$background: #f5f4fa;
$but: #188ce8;
$icon: #afb1b8;
$font: Roboto, sans-serif; ;
